.dashboard {
 padding: 20px;
 margin: 20px auto;
 display: flex;
 justify-content: center;
 align-items: center;

}

h2 {
  text-shadow: 3px 0px 3px rgba(0,0,0,0.38);
  margin-top: 15px;
}




@include media-breakpoint-up(lg) {

  .service-property {
    width: 80%;
    margin: 0 auto;
  }

  .card-property {

    .card-prop {
      // width: calc(100%/3 - 10px);
      width: 23rem;
    }
  }

}

@include media-breakpoint-only(xs) {

  #upra-properties {
    justify-content: center;
  }

  .service-property {
    flex-direction: column;
  }

}

@include media-breakpoint-down(sm) {

  .card-property {
    flex-direction: column;
  }

}

@include media-breakpoint-only(md) {

  // #upra-properties {
  //
  //   .card-prop {
  //     width: calc(100%/2 - 10px);
  //   }
  // }
}
