.dashboard {
 padding: 20px;
 margin: 20px auto;
 display: flex;
 justify-content: center;
 align-items: center;

}

h3 {
  text-shadow: 3px 0px 3px rgba(0,0,0,0.38);
}

#upra-properties {

  .card-prop {
    min-width: 20rem;
  }
}

@include media-breakpoint-up(lg) {

  .service-property {
    width: 80%;
    margin: 0 auto;
  }

}

@include media-breakpoint-only(xs) {

  #upra-properties {
    justify-content: center;
  }

  .service-property {
    flex-direction: column;
  }

}

@include media-breakpoint-down(sm) {

  #upra-properties {
    flex-direction: column;
  }

}
