a:hover {

  text-decoration: none;
  color: black;
}

a {

  color: black;
}

ul, ol {

  margin-bottom: 0;
}

#header-home .header-container {

  height: 100vh;
  width: 100%;

  background-image: url('/images/jumbo3.jpg');
  background-position: 50% 35%;
  background-size: cover;

  .navbar-header {

    height: 70px;
    width: 100%;

    position: fixed;

    z-index: 900;

    .container {

      height: 100%;

      .logo {

        position: relative;

        .text-danger {

          display: flex;

          position: absolute;
          left: 18px;
          top: 4px;
        }

        .lbnb {

          position: absolute;
          left: 57px;
        }
      }
    }

    .navbar-header-right {

      .join {

        padding-left: 20px;
      }

      a:hover {

        color: lightgrey;
      }
    }

    a {

      color: white;

      font-size: 20px;
      font-weight: bold;

      text-shadow: 2px 2px 5px black;

      &:hover {

        text-decoration: none;
      }
    }
  }

  .scrolled {

    background-color: white;

    -webkit-box-shadow: 0 0 10px lightgrey;
      box-shadow: 0 0 10px lightgrey;

    .logo {

      text-shadow: none;
      color: #20639b;

      .b {
        font-size: 25px;
      }
    }

    .login, .join {

      color: black;
      text-shadow: none;
    }

    .navbar-header-right {

      a:hover {

        color: grey;
      }
    }


  }

  .jumbo-text {

    height: calc(70vh - 70px);

    color: white;

    text-align: left;

    h2 {

      font-size: 35px;
      font-weight: bold;
      text-shadow: 2px 2px 5px black;

    }

    p {

      width: 300px;
      text-shadow: 2px 2px 5px black;

      font-size: 17px;
      font-weight: bold;
    }

    a {

      padding: 10px;

      background-color: white;

      color: black;

      border: 0.5px solid grey;
      border-radius: 10px;
    }

    .jumbo-text-content > * {

      margin-bottom: 20px;
    }
  }

}
