a:hover {

  text-decoration: none;
  color: black;
}

a {

  color: black;
}

ul, ol {

  margin-bottom: 0;
}

#header-home .header-container {

  height: 70vh;

  background-image: url('/images/jumbo3.jpg');
  background-position: 50% 35%;
  background-size: cover;

  .navbar-header {

    padding: 20px 15% 20px 20%;

    height: 70px;
    width: 100%;

    position: fixed;

    z-index: 900;

    .navbar-header-right {

      .join {

        padding-left: 20px;
      }
    }

    a {

      color: white;

      font-size: 20px;
      font-weight: bold;

      text-shadow: 2px 2px 5px black;

      &:hover {

        text-decoration: none;
      }
    }
  }

  .scrolled {

    background-color: white;

    -webkit-box-shadow: 0 0 10px lightgrey;
      box-shadow: 0 0 10px lightgrey;

    .logo {

      color: #ff385c;
      text-shadow: none;

       
    }

    .login, .join {

      color: black;
      text-shadow: none;
    }
  }

  .jumbo-text {

    height: calc(70vh - 70px);
    padding: 70px 0 0 20%;

    color: white;

    text-align: left;

    h2 {

      font-size: 35px;
      font-weight: bold;
      text-shadow: 2px 2px 5px black;

    }

    p {

      width: 300px;
      text-shadow: 2px 2px 5px black;

      font-size: 17px;
      font-weight: bold;
    }

    a {

      padding: 10px;

      background-color: white;

      color: black;

      border: 0.5px solid grey;
      border-radius: 10px;
    }

    .jumbo-text-content > * {

      margin-bottom: 20px;
    }
  }

}
